body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

.stats{
display:flex;
justify-content:center;
gap:20px;
margin:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:200px;
}

.card p{
font-size:30px;
color:#38bdf8;
}

li{
color:#ff4d4d;
font-size:18px;
}